@page "/"

<PageTitle>Home</PageTitle>

This is Ralph Ryan Peralta's submission for "Exercise #2 - Reusable Form Component".
<br/>
Please head to the <a href="/user-form-demo">User Form Demo</a> page to see the reusable form component in action.

